---
import Layout from '../layouts/layout.astro';
import moviesData from '../data/moviesData';
import '../styles/theme.css';
---

<Layout title="Películas – FilmRush">
  <section style="text-align: center; margin-bottom: 2rem;">
    <h1>Las mejores películas de todos los tiempos! 🎬</h1>
  </section>

<section style="margin-top: 3rem;" id="series">
    <div id="contenedorSeries">
      {moviesData.map((movie, i) => (
        <div class="series" data-index={i}>
          <img src={movie.image} alt={`Imagen de ${movie.title}`} />
          <div class="series-contenido">
            <h2>{movie.title}</h2>
            <p>Puntuación: {movie.overallRating}⭐</p>
            <p>Duración: {movie.duration}</p>
            <input class="boton-agregar-lista" type="button" value="Agregar a mi lista" />
          </div>
        </div>
      ))}
    </div>
</section>

<section id="lista">
      <h2>Mi lista</h2>
      <ul></ul>
      <input id="boton-borrar" type="button" value="Borrar">
</section>

<script type="module" src="/src/scripts/listas.js"></script>

<style>
    #contenedorSeries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto; 
    }

    .series {
    background-color: var(--color-dark-red);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-black);
    text-align: center;
    transition: transform 0.3s ease;
    }

    .series:hover {
     transform: scale(1.05);
    }

    .series img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    }

    .series h2 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--color-beige);
    }

    .series p {
    font-size: 14px;
    color: var(--color-beige);
    margin-bottom: 10px;
    }

    .series input[type="button"] {
    padding: 8px 12px;
    background: var(--color-light-blue);
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    }

    .series input[type="button"]:hover {
    background-color: var(--color-beige);
    }
    #lista {
    border: 1px solid var(--color-ligth-blue);
    border-radius: 8px;
    background: var(--color-dark-red);
    box-shadow: 0 4px 8px var(--color-black);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    }

    #lista ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;
      color: var(--color-beige)
    }

    #lista input[type="button"] {
      padding: 10px 15px;
      margin-right: 5px;
      color: var(--color-black);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    #lista #boton-borrar {
      background: var(--color-light-blue);
    }

    #lista #boton-borrar:hover {
      background: var(--color-beige);
    }
    
    #lista h2{
      color: var(--color-beige);
    }

  </style>

</Layout>