---
import Layout from '../layouts/layout.astro';
import moviesData from '../data/moviesData.js';
import '../styles/theme.css';
---

<Layout title="Series – FilmRush">
  <section style="text-align: center; margin-bottom: 2rem;">
    <h1>Las mejores películas de todos los tiempos! 📺</h1>
  </section>

<section style="margin-top: 3rem;" id="movies">
    <div id="moviesContainer">
      {moviesData.map((movie, i) => (
        <div class="movies" data-index={i}>
          <img src={movie.image} alt={`${movie.title} Image`} />
          <div class="movies__content">
            <h2>{movie.title}</h2>
            <p>Puntuación: {movie.overallRating}⭐</p>
            <p>Temporadas: {movie.duration}</p>
            <input class="add__to__list" type="button" value="Agregar a mi lista" />
          </div>
        </div>
      ))}
    </div>
</section>

<section id="list">
      <h2>Mi lista</h2>
      <ul></ul>
      <input id="delete__button" type="button" value="Borrar">
</section>

  <script type="module">
    import '/scripts/lists-movies.js';
  </script>

<style>
    #moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto; 
    }

    .movies {
    background-color: var(--color-dark-red);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-black);
    text-align: center;
    transition: transform 0.3s ease;
    }

    .movies:hover {
     transform: scale(1.05);
    }

    .movies img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    }

    .movies h2 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--color-beige);
    }

    .movies p {
    font-size: 14px;
    color: var(--color-beige);
    margin-bottom: 10px;
    }

    .movies input[type="button"] {
    padding: 8px 12px;
    background: var(--color-light-blue);
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    }

    .movies input[type="button"]:hover {
    background-color: var(--color-beige);
    }
    #list {
    border: 1px solid var(--color-ligth-blue);
    border-radius: 8px;
    background: var(--color-dark-red);
    box-shadow: 0 4px 8px var(--color-black);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    }

    #list ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;
      color: var(--color-beige)
    }

    #list input[type="button"] {
      padding: 10px 15px;
      margin-right: 5px;
      color: var(--color-black);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    #list #delete__button {
      background: var(--color-light-blue);
    }

    #list #delete__button:hover {
      background: var(--color-beige);
    }
    
    #list h2{
      color: var(--color-beige);
    }

  </style>

</Layout>