---
import Card from "../components/card.astro"
import Layout from "../layouts/layout.astro"
import moviesData from "../data/moviesData";
---


<Layout title="Inicio – FilmRush">
    <h1>Opiniones más populares sobre películas</h1>
    <section class ="review-container">
        {
      moviesData.map((movie) => {
        return (
                 <Card 
    image= {movie.image}
    title={movie.title}
    year= {movie.releaseYear}
    userRating={movie.featuredUserRating}
    review= {movie.featuredUserReview}
    username={movie.featuredUsername}
    date={movie.reviewDate}
    rating={movie.overallRating}
    />

        );
      })
    }
    </section>
    <h1>Opiniones más populares sobre series</h1>


</Layout>

<style>
    .review-container {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    h1 {
        text-align: center;
        color:var(--color-dark-blue);
    }
     @media (min-width: 768px) and (max-width: 1024px) { 
        .review-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
     }
     @media (min-width: 1025px) {
        .review-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
     }
</style>

